<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- IpAddressesDevices: 192.168.0.1,DeviceName1;192.168.0.2,DeviceName2 -->
    <add key="IpAddressesDevices" value="" />
    <!-- IgnoreIpAddressesDevices: 192.168.0.1;192.168.0.2 -->
    <add key="IgnoreIpAddressesDevices" value="" />
    <!-- ShowLagControl: true or false -->
    <add key="ShowLagControl" value="false" />
  </appSettings>
</configuration>
